#Name{
    font-size: 3.0rem;
    font-family: 'Orbitron', 'Audiowide', sans-serif;
    color: #ed1919;
    text-shadow: 
        0 0 5px #f9f7fa,
        0 0 15px #8668a1,
        0 0 30px #5509d0,
        0 0 45px #3cc490;
}